ul.main-menu {
    display: flex;
    list-style: none;
    width: 900px;
}

.menu {
    background-color: #1f8350;
    height: 30x;
}

ul.main-menu a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

ul.main-menu a:hover {
    background-color: #156100;
}

.product {
    width: 600px;
    display: flex;
    border: solid 1px;
    margin: auto;
    margin-bottom: 20px;
}

.product .image img {
    height: 225px;
    width: 225px;
}

.product .desc {
    margin-left: 10px;
    padding-top: 10px;
}

.product .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.product .short-desc {
    height: 80px;
    width: 360px;
    overflow: hidden;
    font-size: 13px;
}


.carts {
    display: inline-block;
    flex: wrap;
    width: 900px;
}

.product-cart {
    width: 500px;
    display: flex;
    border: solid 1px;
    margin-right: 30px;
}

.product-cart .image img {
    height: 225px;
    width: 225px;
}

.product-cart .desc {
    margin-left: 10px;
    padding-top: 10px;
}

.product-cart .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.product-cart .short-desc {
    height: 80px;
    overflow: hidden;
    font-size: 13px;
}

.cart-table {
    width: 900px;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.product-info {
    width: 900px;
    margin: auto;
    border-left: solid 1px;
    border-right: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.product-info .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.product-info .name {
    text-align: center;
}

.product-info img {
	display: block;
	margin: auto;
    text-align: center;
    max-width: 100%;
}

.create-container {
    margin: auto;
    width: 1000px;
}
